.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #fff;
}

.nav-logo {
  font-weight: bold;
  font-size: clamp(1.4rem, 2vw, 2rem);
}
a:hover{
    color: orangered;
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: clamp(0.9rem, 1.1vw, 1rem);
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon {
  width: clamp(22px, 2vw, 28px);
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 32px;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  max-width: 350px;
  height: 100vh;
  background: #fff;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  animation: slideIn 0.35s ease;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    z-index: 1001; /* Add this line */
    width: 50%;
}

.mobile-menu a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}

.close-btn {
  font-size: 38px;
  cursor: pointer;
  align-self: flex-end;
}

@keyframes slideIn {
  from { right: -100%; }
  to { right: 0; }
}

/* RESPONSIVE NAVBAR */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 1rem 3%;
  }

  a {
    text-decoration: none;
    list-style: none;
  }
  .menu-icon {
    margin-right: 50px;
  }

  html,body {
    overflow-x: hidden;
  }
}
