.products {
  padding: 6%;
}

.products h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
}

.product-card {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  text-align: center;
}

.product-card img.bag-img {
  width: 100%;
  border-radius: 15px;
}

.stars {
  width: 120px;
  margin: 10px auto;
}

.add-btn {
  margin-top: 10px;
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}


@media(max-width: 768px) {
    .products {
        padding: 3%;
        /* margin-right: 160px; */
    }
}